<section class="py-4 py-xl-5"style="background:radial-gradient(600px 600px at top left, rgba(0,0,0,0.4), rgba(123,211,232, 0.1)), url(https://images.unsplash.com/photo-1518838439236-2b73ceb4638a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80) center center no-repeat;background-size:cover;">
  <div class="container">
    <div class="text-center p-4 p-lg-5">
      <h1 class="fw-bold mb-5">Clothes Share</h1>
      <h2 class="mb-4 fst-italic ">Seu guarda-roupas compartilhado</h2>
      <br/>
      <a class="btn btn-dark rounded-pill btn-lg" href="/items" type="button">Quero Alugar</a>
      <a class="btn btn-light fs-5 me-2 py-2 px-4" href="/items/new" type="button">Quero Anunciar</a>
    </div>
  </div>
</section>
