<section class="py-4 py-xl-5"style="background:radial-gradient(600px 600px at top left, rgba(0,0,0,0.4), rgba(123,211,232, 0.1)), url(https://cdn.pixabay.com/photo/2016/11/18/13/48/clothes-1834650_960_720.jpg) center center no-repeat;background-size:cover;">
  <div class="container">
    <div class="text-center p-4 p-lg-5">
      <p class="fw-bold mb-2"> Enjoy
      <h1 class="fw-bold mb-4">Clothes Share</h1>
      <h2 class="mb-4">Seu Guarda-Roupas Compartilhado</h2>
      <br/>
      <a class="btn btn-dark rounded-pill btn-lg" href="/items" type="button">Quero Alugar</a>
      <a class="btn btn-light rounded-pill btn-lg" href="/items/new" type="button">Quero Anunciar</a>
    </div>
  </div>
</section>
