<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1518838439236-2b73ceb4638a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);">
  <div class="container text-center">
    <h1 class="mb-5 pb-5">CLOTHES SHARE.</h1>
    <br>
    <h2 class="fst-italic">Seu guarda-roupas compartilhado de maneira sustentável</h2>
    <a class="btn btn-ghost fw-bold fs-5 me-2 py-2 px-4  mt-5" href="/items">Quero Alugar</a>
    <a class="btn btn-bk fw-bold fs-5 me-2 py-2 px-4  mt-5" href="/items/new">Quero Anunciar</a>
  </div>
</div>
