<div class="text-center">
  <h1>Dê uma olhada nessas roupitchas para alugar</h1>
</div>
  <div class="container-lg">
    <div class=" p-3" >
      <div class="cards text-center">
          <% @items.each do |item|%>
          <div class="card-trip">
            <%= cl_image_tag item.photo.key if item.photo.attached? %>
            <div class="card-trip-infos">
              <h5 class="card-title"><%= item.title %></h5>
              <h3 class="card-text">R$ <%= item.price%>
              </h3>
            </div>
              <a href="/items/<%=item.id%>" class="btn btn-dark rounded-pill">Me alugue</a>
          </div>
              <% end %>
        </div>
      </div>
    </div>
  </div>
