<div class="container mt-4 text-center">
  <h3>Escolha uma de nossas roupas para alugar 🤩</h3>
  <br/>
  <br/>
</div>
  <div class="container">
   <div class="cards">
      <% @items.each do |item|%>
      <div class="card-product">
        <%= cl_image_tag item.photo.key, :width => 200, :height => 300, :crop => "fit" if item.photo.attached? %>
        <div class="card-product-infos">
          <h5><%= item.title %></h5>
          <h4>R$ <%= item.price %></h4>
          <a href="/items/<%=item.id%>" class="list-btn btn btn-dark rounded-pill">Me alugue!</a>
        </div>
      </div>
          <%end%>
  </div>
    </div>
