<div class="container mt-4 text-center">
  <h3>Produtos recomendados para você ;)</h3>
  <br>
  <br>
</div>
   <div class="cards container gap-4">
      <% @items.each do |item|%>
      <div class="card-product">
        <%= cl_image_tag item.photo.key, :width => 1920, :height => 1080, crop: :limit if item.photo.attached? %>
        <div class="card-product-infos">
          <h4><%= item.title %></h4>
          <h6>R$ <%= item.price %></h6>
          <a href="/items/<%=item.id%>" class="card-button ">Me alugue!</a>
        </div>
      </div>
          <%end%>
    </div>
