 <nav class="navbar navbar-dark bg-dark navbar-expand-lg" >
  <div class="container-fluid">
    <a class="navbar-brand">Clothes share</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nós</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/items" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Roupas
          </a>
          <ul class="dropdown-menu">
          <%# Aqui fazemos uma iteração em ruby para povoar o dropdown menu %>
            <li><a class="dropdown-item" href="/items">Masculinas</a></li>
            <li><a class="dropdown-item" href="/items">Femininas</a></li>
            <li><a class="dropdown-item" href="/items">Sapatos Masculinos</a></li>
            <li><a class="dropdown-item" href="/items">Sapatos Femininos</a></li>
          </ul>
          <li class="nav-item">
            <a class="nav-link" href="/items/new">Anunciar</a>
          </li>
      </ul>

      <div class="d-flex m-1 gap-3 d-flex align-items-center">
        <a class="nav-link text-light" href="/users/sign_in">Entrar</a>
        <a class="nav-link text-light" href="/users/sign_up">Cadastre-se</a>
        <p class=" m-1 text-light">Bem Vindo(a) <%= @user.first_name.to_s.humanize if @user %>!</p>
            <%= cl_image_tag current_user.photo.key, :width=>50, :height=>50, :gravity=>"face", :crop=>"fill", class:"avatar dropdown-toggle", id:"navbarDropdown", "data-bs-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" if current_user && current_user.photo.attached? %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-center" href="/users/edit">Eitar Perfil</a>
              <a><%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Tem certeza que quer sair?"}, class: "nav-link text-dark text-center" %></a>
            </div>
      </div>
    </div>
  </div>
</nav>
