<div class="container mt-4 text-center">
  <h1>Dê uma olhada nessas roupitchas para alugar</h1>
</div>
<div class="container-sm">
<div class=" d-flex align-items-center justify-content-between p-3" >
  <div class="cards container">
    <% @items.each do |item|%>
      <div class="card-product">
        <%= cl_image_tag item.photo.key, :width => 200, :height => 300, :crop => "fit" if item.photo.attached? %>
        <div class="card-product-infos">
          <h5 class="card-title"><%= item.title %></h5>
          <p class="card-text">R$ <%= item.price %></p>
          <a href="/items/<%=item.id%>" class="btn btn-dark rounded-pill">Me alugue</a>
      </div>
          <% end %>
          </div>
    </div>
  </div>
</div>
