<div class="container mt-4 text-center">
  <h1>De uma olhada nessas roupitchas para alugar</h1>
  <div class="row">
  <% @items.each do |item|%>
    <div class="col-3 mt-2">
      <div class="card" style="width: 17rem;">
        <img src="https://picsum.photos/200" class="card-img-top" alt="Linda roupitcha">
        <div class="card-body">
          <h5 class="card-title"><%= item.title %></h5>
          <p class="card-text">R$ <%= item.price %></p>
          <a href="/items/<%=item.id%>" class="btn btn-primary">Me alugue</a>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
