.card-product {
  overflow: hidden;
  height: 450px;
  width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  align-items: center;
  border-radius: 0 0 8px 8px;
}

.card-product img {
  height: 73%;
  width: 100%;
  object-fit: cover;
}

.card-product h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
}

.card-product h6 {
  font-size: 16px;
  font-weight:lighter;
  margin: 5px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px 0px 0px 0px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
